widget { /* window widget */
  position: absolute;
  overflow: hidden;

  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;

  background: #fff;
  border: 1px solid #acacac;
  border-radius: 6px;
}

titlebar {
  position: absolute;
  overflow: hidden;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 28px;


  background-image: linear-gradient(to bottom, rgb(235,235,235), rgb(213,213,213));
/*
<img src="close.png">
  background-image:url('close.png');
  background: url('close.png') 0 0;
*/




  color: rgb(210,84,0);
  font-size: 14pt;
  line-height: 20px;
  text-align: center;

  border-bottom: 1px solid #b1aeb1;


  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: default;

  -webkit-app-region: drag;
}


btclose {
  position: absolute;

  left: 8px;
  top: 7px;

  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}
btmini {
  position: absolute;

  left: 28px;
  top: 7px;

  background: rgb(255,189,76);
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}
btmax {
  position: absolute;

  left: 49px;
  top: 7px;

  background: rgb(0,255,0);
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}
