body {
  background: #ecf0f1;
  color: #000;
  font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
}
widget { /* window widget */
  position: absolute;
  overflow: hidden;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  background: rgb(254,238,204);
  border: 1px solid #acacac;
  border-radius: 6px;
}

titlebar {
  position: absolute;
  overflow: hidden;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 28px;

  background-image: linear-gradient(to bottom, rgb(235,235,235), rgb(213,213,213));

  font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
  font-size: 12pt;
  line-height: 20px;
  text-align: center;

  border-bottom: 1px solid #b1aeb1;

  color: rgb(210,84,0);

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: default;

  -webkit-app-region: drag;
}

wb_max { /* window button maximize */
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(255,130,30);
  border-radius: 3px;
}
wb_min { /* window button manimize */
  position: absolute;
  top: 5px;
  right: 27px;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(255,130,30);
  border-radius: 3px;
}


btclose {
  position: absolute;

  left: 8px;
  top: 7px;

  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}
btmini {
  position: absolute;

  left: 28px;
  top: 7px;

  background: rgb(255,189,76);
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}
btmax {
  position: absolute;

  left: 49px;
  top: 7px;

  background: rgb(0,255,0);
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}

tooltip {
  position: absolute;

  display: inline-block;
  border-bottom: 1px dotted black;

  width: 16px;
  height: 16px;
  border: 1px solid rgb(255,130,30);
  border-radius: 3px;
}
tooltip tooltiptext {
  visibility: hidden;
  width: 100px;

    background-color: black;
    text-align: center;


	color: #F0B015;
  font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
	font-size: 0.8em;
	font-weight: normal;

    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
tooltip:hover tooltiptext {
    visibility: visible;
}


/**
 * Layout
 */
.nav__list {
    margin: 0;
    padding: 0;
}
.nav__list a {
    padding: .75em 1.5em;
    transition: all .25s ease-in-out;
}

.nav__list__item {
    border-style: solid;
    border-width: 0 0 1px;
}
.nav__list__item,
.nav__list__item a {
    display: block;
}

/**
 * Desktop-view
 */

@media screen and (min-width: 1024px) {
    .nav__list > .nav__list__item {
        border-width: 0 1px 0 0;
    }
    .nav__list > .nav__list__item,
    .nav__list > .nav__list__item a {
        display: inline-block;
    }
}

/**
 * Presentation
 */
.nav {
  background-color: #f5f5f5;
  border: 1px solid rgb(250,130,30);
  border-radius: 6px;
}
.nav .nav__list__item {
    border-color: #e5e5e5;
}
.nav a {
    color: #555;
    text-decoration: none;
}
.nav a:hover, .nav a:active, .nav a:focus {
    background-color: #e5e5e5;
}
